<%= link_to "Click Here to Send Your Location Tracking Details by text",location_detail_popup_path, remote: true %>
<div class="modal fade" tabindex="-1" style="display: none;">
</div>
<!-- <script type="text/javascript" src="/assets/jquery.validate.js"></script> -->
<script src="https://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script type="text/javascript">
	$(document).ready(function($) {
		getLocation();
	});
</script>