<div class="row">
	<%= link_to 'Register as dispatcher',new_dispatcher_registration_path, class: 'btn btn-primary' %> OR 
	<%= link_to 'Sign In',new_dispatcher_session_path, class: 'btn btn-primary' %>
</div>