<% if @location_detail.is_terminate %>
	<div>
		<p>This url is terminated.</p>
	</div>
<% else %>
	<div>
	<p>You have reached the maximum number of real time updates.  Please contact support to authorize more.</p>
	</div>
<% end %>