<div class="row">
  <div class="col-xs-5 box">
    <h4>
      You reached to destination!!
    </h4>
  </div>
</div>
<% if @link_generator %>
  <div class="row">
    <div class="col-xs-12 col-md-5">
        <h4><%= link_to 'Click here to terminate tracking and return to the Dashboard',authenticated_root_path(url_token: @location_detail.url_token) %></h4>
    </div>
  </div>
<% end %>