<div class="row">
	<span id="timer-minutes"><%= @eta-1 %></span> minutes
	<span id="timer-sec">55</span> seconds
</div>
<script type="text/javascript">
	var count_secs=10;
	var count_minutes='<%= @eta-1 %>'
	// var count_minutes=1

var counter=setInterval(timer, 1000); //1000 will  run it every 1 second

function timer()
{
  count_secs=count_secs-1;
  if (count_secs <= 0)
  {
     count_secs = 60;
    // clearInterval(counter);
    count_minutes = count_minutes-1;
    if (count_minutes >= 0)
  		$("#timer-minutes").html(count_minutes);
     //counter ended, do something here
    // return;
  }

  if (count_minutes < 0){
  	clearInterval(counter);
  	$.ajax({
			url: '/refresh_tracking_result/'+'<%= @location_detail.url_token %>',
			type: 'get',
			data: {},
			success: function (data) {
				data
			}
		});
  	return;
  }
  $("#timer-sec").html(count_secs);
}
</script>