<div class="row">
  <% if @error %>
    <% if @error_info.nil? %>
      <div class="error">Please allow to share your location or enter valid destination address.</div>
    <% else %>
      <div class="error"><%= @error_info[:err_msg] %>.</div>
    <% end %>
    <%= link_to 'Click here to return to the Dashboard',authenticated_root_path,id: 'random_url' %>
  <% else %>
    <div>

      <p>
      <%= link_to "CLICK HERE TO GENERATE THE LINK",tracking_result_path(@location_detail.url_token),id: 'random_url', class: 'std-link-format' %></p><br>

    </div>
  <% end %>
</div>
<script type="text/javascript">
  window.onbeforeunload = function () {
    return 'Your Tracking will stop,Do you wish to continue and return to dashboard?';
  }
</script>