<div class="row">
  <% if @error %>
    <div class="error">Please allow to share your location or enter valid destination address.</div>
    <%= link_to 'Click here to return to the Dashboard',authenticated_root_path,id: 'random_url' %>
  <% else %>
    <div>

      <p> Step 1.<br> <%= link_to "CLICK HERE TO THE LINK",tracking_result_path(@location_detail.url_token),id: 'random_url', target: "_blank",class: 'std-link-format' %></p><br>
      <p>Step 2. <br>AFTER YOU HAVE GENERATED THE LINK, YOU CAN NOW SHARE THIS URL
 <br>
      <%= link_to tracking_result_url(@location_detail.url_token),tracking_result_path(@location_detail.url_token),id: 'random_url', target: "_blank" %></p>
      <br>
      <%= link_to 'Click here to terminate tracking and return to the Dashboard',authenticated_root_path(url_token: @location_detail.url_token),class: "font-18" %>
        
    </div>
  <% end %>
</div>
<script type="text/javascript">
  window.onbeforeunload = function () {
    return 'Your Tracking will stop,Do you wish to continue and return to dashboard?';
  }
</script>