<div class="row">
	<div>
		<p>Your Location details are noe being broadcast</p>
		<p>This is the URL you can share</p>
		<%= link_to '#' do %>
			<p>Click here to terminate tracking and return to the Dashboard</p>
		<% end %>
	</div>
</div>