<script src="https://maps.googleapis.com/maps/api/js">
    </script>
<div id="tracking-result">
	<% if @location_detail.is_reached %>
		<%= render partial: 'reached_to_destination' %>
	<% else %>
		<%= render partial: 'tracking_result' %>
	<% end %>
</div>
<script type="text/javascript">
	$(document).ready(function($) {
		initMap();
	});
</script>
<% unless dispatcher_signed_in? %>
	<script type="text/javascript">
	   window.onbeforeunload = function () {
	    return ' The following action will cause you to lose all displayed data...are you sure you wish to continue?';
	  }
	</script>
<% end %>
<style>
.box{
	border: 1px solid;
	border-color: black;
	margin:5px;
	padding: 5px;
}
#map {
        pointer-events:none;
      }
</style>