<script src="https://maps.googleapis.com/maps/api/js">
    </script>
<div id="tracking-result">
	<% if @location_detail.is_reached %>
		<%= render partial: 'reached_to_destination' %>
	<% else %>
		<%= render partial: 'tracking_result' %>
	<% end %>
</div>
<script type="text/javascript">
  
	<% if dispatcher_signed_in? %>
		getLocation();
	<% end %>
</script>
<style>
.box{
	border: 1px solid;
	border-color: black;
	padding: 5px;
}
#map {
        pointer-events:none;
      }
</style>